{% extends "_base.html" %}
{% load mptt_tags %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
    <h1>HomePage</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
    </div>
    <ul class="root">
    {% recursetree category.all %}
        <li>
            {{ node.title }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock content %}