{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">number</th>
                        <th scope="col">firstname</th>
                        <th scope="col">phone</th>
                        <th scope="col">Total price</th>
                        <th scope="col">location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_list in order %}
                     <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{ order_list.get_absolute_url}}">{{ order_list.name}}</a></td>
                        <td>{{ order_list.phone_number }}</td>
                        
                        <td>
                            ${{ order_list.get_total}}
                        </td>
                        <td>
                            {{ order_list.address }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}