{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">number</th>
                        <th scope="col">Item Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.title}}</td>
                        <td>{{ order_item.item.price }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>
                        {% if order_item.item.discount_price %} 
                            ${{ order_item.get_total_discount_item_price}}
                            <span class="badge badge-primary">saving ${{order_item.get_amount_saved }}</span>
                        {% else %}
                            ${{ order_item.get_total_item_price }}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><b>Order Total</b></td>
                        <td><b>${{ order.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><a class="btn btn-warning float-right" href="/checkout">Procced to checkout</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}