<ul>
        <li>{{data.product__name}}</li>
        <li>{{data.sku}}</li>
        <li>{{data.product_inventory__units}}</li>
</ul>
{% for x in ProductAttributeNames %}
    {{x.product_attribute__name}}
{% endfor %}

<ul>
{% for ProductAttributeName in ProductAttributeNames %}
    {{ProductAttributeName.product_attribute__name}}
    <ul>
    {% for productTypeAttribute in productTypeAttributes %}

        {% if productTypeAttribute.attribute_values__product_attribute__name == ProductAttributeName.product_attribute__name %}
            {% if productTypeAttribute.attribute_values__attribute_value in data.field_a %}
                <li>
                    <div id="target-{{productTypeAttribute.attribute_values__attribute_value}}" class="selected fw-bold">
                        {{productTypeAttribute.attribute_values__attribute_value}}
                    </div>
                </li>
            {% else%}
                <li>
                    <div id="target-{{productTypeAttribute.attribute_values__attribute_value}}" data-attribute="{{ProductAttributeName.product_attribute__name}}" value="{{productTypeAttribute.attribute_values__attribute_value}}">
                        {{productTypeAttribute.attribute_values__attribute_value}}
                    </div>
                </li>
            {% endif %}

        {% endif %}

    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>

<script>

</script>